@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.h1-welcomePage,
.p-welcomePage {
  font-family: Raleway;
}
.h1-welcomePage {
  font-size: 3.2rem;
  border-bottom: 3px solid black;
}
.btn-welcomePage:hover {
  transform: scale(1.2);
}

.home-page-cards:hover {
  transform: scale(0.9);
}

.custom-main {
  background: linear-gradient(to top right, #2ff2a1 30%, #7aedfc 60%);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.welcome-screen {
  z-index: 1000;
}
.sigUpForm {
  background-color: #055276;
}
.welcomeImage {
  width: 350px;
  height: 350px;
}
.welcomeText {
  font-size: 1.5rem;
}
.divStartBtn {
  white-space: nowrap;
  width: 350px;
}
.welcomePageToForm {
  border-left: 2px solid purple;
}
.signUp {
  border: 1px solid black;
  background: linear-gradient(
    to top right,
    #f6ffaf 40%,
    #fdbbf5e0 65%
  ) !important;
}
.signIn {
  border: 1px solid black;
  background: linear-gradient(
    to top right,
    #f6ffaf 40%,
    #fdbbf5e0 65%
  ) !important;
}

.challengesContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  padding: 20px;
  min-height: 80vh;
  overflow: auto;
  text-align: center;
}

.addChallenges {
  box-shadow: 0px 0px 30px 2px;
}
.selectedChallenges {
  text-align: center;
  padding: 15px;
  max-height: 350px;
  margin-top: 30px;
  overflow: auto;
  box-shadow: 0px 0px 30px 3px;
}

.addChallenges {
  width: 400px;
  background-color: white;
  height: 300px;
}
.cardsStatus-title {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .welcomeImage {
    width: 60%;
    height: 50%;
  }
  .welcomeText {
    font-size: 100%;
  }
  .h1-welcomePage {
    font-size: 2rem;
  }
  .selectedChallenges {
    width: 90%;
  }
  .addChallenges {
    width: 90%;
  }
  .cardsStatus-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .h1-welcomePage {
    font-size: 1.7rem;
  }
  .btnTwoStar {
    font-size: 0.8rem !important;
  }
  .btnOneStart {
    font-size: 0.8rem !important;
  }
  .divStartBtn {
    white-space: nowrap;
    width: 265px;
  }
  .home-Challenges {
    flex-direction: column;
  }
  .selectedCards {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 426px) {
  .welcome-screen {
    flex-direction: column !important;
  }
  .welcomeText {
    font-size: 74%;
  }
  .welcomePageToForm {
    border-left: none;
    border-top: 1px solid white;
  }
  .h1-welcomePage {
    font-size: 0.9rem;
    margin-top: 14px;
  }
}
